{% extends 'base.html' %}

{% block header %}
<br>
<br>
<h1 class="box4">{% block title %}Add New Course{% endblock %}</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">

{% endblock %}


{% block content %}
<h3>
    <form action="" method="POST">
      <td>
        <br>
        <label class="inplabels" for="username">Course Name</label>
        <input class="inpbuts" type="text" name="course_selection"
          value="{{ request.form['course_selection'] }}" placeholder="New Course Name">
        </input>
        <br><br>
        <button class="subbut" type="submit" name="course go">
          Add Course
        </button>
      </td>
    </form>
</h3>
{% endblock %}