{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Page - Course{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">
  
{% endblock %}


{% block content %}
<div>
	{% if showOld=="Yes" %}
	<div class = "arr">{{course}}</div>
	<br><br>
	<form action="" method="POST">
		<select class="dropdown" name="course_off_selection">
			
        	<option>Select the course offering and term</option>
			
    		{% for x in course_off_list %}
			
    			<option >
    				{{ x[0] }} - {{x[1]}}
    			</option>
				<br>
    		{% endfor %}

    	</select>
		<br><br>
		<button class="subbut" type="submit" name="course offering go">
			Select
		</button>
	</form>
	<br>
	{% endif%}
	
	<br>
	<div>
		{% if showInst=="Yes" %}
			<form action="" method="POST">
				<select class="arr" name="course_off_term">
					<option>{{course_off_term_selected}}</option>
				</select><br>
				<br>
				<label class = "hupd"> Select Required Instructor and Section Number</label>
				<br>
				<br>
				<select class="dropdown" name="inst_select">
					<option>Select Instructor and Section Number</option>
					{% for x in instForCourseOffTerm %}
	    				<option>
	    					{{x[1]}}
	    				</option>
	    			{% endfor %}
				</select>
				<br>
				<br>
				<button class = "subbut" type="submit" name="inst go">Search</button>
			</form>
			{% endif %}
			
			{% if showAllInfo=="Yes" %}
				<br>
				<div class = "resb">Course Offering - Term Code</div> 
				<div class = "info"> {{allInfo[2]}}</div>
				<br>
				<br>
				<br>
				<div class = "resb">Instructor Name - Section Number </div>
				<div class ="info"> {{allInfo[3]}}</div>
				<br>
				<br>
				<br>
				<div class = "resb">Section Type</div>
				<div class ="info">{{allInfo[4]}}</div>
				<br>
				<br>
				<br>
				<div class="resb">Facility Code </div> 
				<div class ="info"> {{allInfo[5]}}</div>
				<br><br><br>
				<div class="resb">Room Code </div> 
				<div class ="info"> {{allInfo[6]}}</div>
				<br><br><br>
				<div class="resb">Start Time </div> 
				<div class ="info">{{allInfo[7]}}</div>
				<br><br><br>
				<div class="resb">End Time </div>
				<div class ="info"> {{allInfo[8]}}</div>
				<br><br><br>
				<div class="resbutton">Classes on : </div><br>
				<div  class ="grade">
				{% if allInfo[9]==true %}
					<text >Monday </text>
				{% endif %}
				{% if allInfo[10]==true %}
					<text>Tuesday </text>
				{% endif %}
				{% if allInfo[11]==true %}
					<text>Wednesday </text>
				{% endif %}
				{% if allInfo[12]==true %}
					<text>Thursday </text>
				{% endif %}
				{% if allInfo[13]==true %}
					<text>Friday </text>
				{% endif %}
				{% if allInfo[14]==true %}
					<text>Saturday </text>
				{% endif %}
				{% if allInfo[15]==true %}
					<text>Sunday </text>
				{% endif %}
				</div>
				<br>
				<br>
				<div>
				<div class="resbutton">Grades Statistics(count of grades) </div><br>
				<div class="grade">A : {{allInfo[16]}}</div><br>
				<div class="grade">AB : {{allInfo[17]}}</div><br>
				<div class="grade">B : {{allInfo[18]}}</div><br>
				<div class="grade">BC : {{allInfo[19]}}</div><br>
				<div class="grade">C : {{allInfo[20]}}</div><br>
				<div class="grade">D : {{allInfo[21]}}</div><br>
				<div class="grade">F : {{allInfo[22]}}</div><br>
				<div class="grade">S : {{allInfo[23]}}</div><br>
				<div class="grade"> U : {{allInfo[24]}}</div><br>
				<div class="grade">CR : {{allInfo[25]}}</div><br>
				<div class="grade">N : {{allInfo[26]}}</div><br>
				<div class="grade">P : {{allInfo[27]}}</div><br>
				<div class="grade">I : {{allInfo[28]}}</div><br>
				<div class="grade">NW : {{allInfo[29]}}</div><br>
				<div class="grade">NR : {{allInfo[30]}}</div><br>
				<div class="grade">Others : {{allInfo[31]}}</div><br>
				</div>
			{% endif %}
		
	</div>
</div>
{% endblock %}