{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Page - Part 2{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">
{% endblock %}


{% block content %}
<div>
	<form action="" method="POST">
		<label class="hupd" for="course_selection">
	        Select Course
	    </label>
		<br>
	    <input class="inpbuts" type="text" name="course_selection" 
			value="{{ request.form['course_selection'] }}" 
			placeholder="Search">
		</input>
		<br>
		<button class="subbut" type="submit" name="course go">
			Search
		</button>
	</form>
	<br>
	<br>
	<br>
	<br>
	<label class="resbutton" for="course_selection">
		Results
	</label>
	<br>
	{% for x in courses %}
		<form  action="" method="POST">
			<button class="entries"  type="submit" name="select a course" value="{{x[0]}}">{{x[0]}}</button>
		</form>
		<br>
	{% endfor %}
</div>
{% endblock %}