{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Page{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">
  
{% endblock %}


{% block content %}
<form action="" method="POST">
	<button type="submit" name="search">
        Search for Subject
    </button>
    <button type="submit" name="update">
        Update Subject Information
    </button>
    <button type="submit" name="add">
        Add New Subject
    </button>
</form>
{% endblock %}