{% extends 'base.html' %}

{% block header %}
<br>
<br>
<h1 class="box4">{% block title %}Change Instructor Information{% endblock %}</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">

{% endblock %}


{% block content %}
<h3>
    <form action="" method="POST">
      <td>
        <div class = "arr">{{instructor}}</div>
        <br>
        <label class="inplabels" for="username">New Instructor Name</label>
        <input class="inpbuts" type="text" name="instructor_selection"
          value="{{ request.form['instructor_selection'] }}" placeholder="New Instructor Name">
        </input>
        <br>
        <label class="inplabels" for="username">New Instructor Code</label>
        <input class="inpbuts" type="text" name="instructor_selection2"
          value="{{ request.form['instructor_selection2'] }}" placeholder="New Instructor Code">
        </input>
        <br>
        <br>
        <button class="subbut" type="submit" name="instructor go">
          Submit Changes
        </button>
        <label class="inplabels" for="username">OR</label>
        <button class="subbut" type="submit" name="instructor kill">
          Delete Instructor
        </button>
        <br>
      </td>
    </form>
</h3>
{% endblock %}