{% extends 'base.html' %}

{% block header %}
<br>
<br>
<h1 class="box4">{% block title %}Change Room Information{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">
{% endblock %}


{% block content %}
<div>
	<form action="" method="POST">
		<br>
		<br>
		<br>
		<label class="hupd" for="room_selection">
	        Search for Room 
	    </label>
		<br><br>
	    <select class="dropdown" name="room_selection">
			<option>Select</option>
				{% for x in room_list %}
					<option>
						{{ x[0] }}
					</option>
				{% endfor %}
			</select>
			<br>
			<br>

			<input class ="inpbuts" type="text" name="room_selection2" 
			value="{{ request.form['room_selection2'] }}" 
			placeholder="New Facility Code">
		  </input>
			<br>
			<br>

		  <input class = "inpbuts" type="text" name="room_selection3" 
			value="{{ request.form['room_selection3'] }}" 
			placeholder="New Room Code">
		  </input>
		  <br>
        <button class="subbut" type="submit" name="room go">
          Submit Changes
        </button>
        <label class="inplabels" for="username">OR</label>
        <button class="subbut" type="submit" name="room kill">
          Delete Room
        </button>
        <br>
	</form>
</div>
{% endblock %}