{% extends 'base.html' %}

{% block header %}
<br>
<br>
<h1 class="box4">{% block title %}Change Course Information{% endblock %}</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">

{% endblock %}


{% block content %}
<h3>
    <form action="" method="POST">
      <td>
        <div class = "arr">{{course}}</div>
        <br>
        <label class="inplabels" for="username">New Course Name</label>
        <input class="inpbuts" type="text" name="course_selection"
          value="{{ request.form['course_selection'] }}" placeholder="New course Name">
      </input>
        <br><br>
        <button class="subbut" type="submit" name="course go">
          Submit Changes
        </button>
        <label class="inplabels" for="username">OR</label>
        <button class="subbut" type="submit" name="course kill">
          Delete Course
        </button>
      </td>
    </form>
</h3>
{% endblock %}