{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Page - Course{% endblock %}</h1>
  
{% endblock %}


{% block content %}
<div>
	<form action="" method="POST">
		<select name="course_off_selection">
        	<option>select offering and term</option>
    		{% for x in course_off_list %}
    			<option>
    				{{ x[0] }} - {{x[1]}}
    			</option>
    		{% endfor %}
    	</select>
		<button type="submit" name="course offering go">
			Go
		</button>
	</form>
	<br>
	<div>Course : {{course}}</div>
	<br>
	<div>
		{% if showInst=="Yes" %}
			<form action="" method="POST">
				<label> Select Required Instructor : </label>
				<select name="course_off_term">
					<option placeholder="select">{{course_off_term_selected}}</option>
				</select>
				<select name="inst_select">
					<option>select instructor and section number</option>
					{% for x in instForCourseOffTerm %}
	    				<option>
	    					{{x[1]}}
	    				</option>
	    			{% endfor %}
				</select>
				<button type="submit" name="inst go">Go</button>
			</form>
			{% if showAllInfo=="Yes" %}
				<br>
				<div>Course Offering - Term Code : {{allInfo[2]}}</div>
				<div>Instructor Name - Section Number : {{allInfo[3]}}</div>
				<br>
				<div>Section Type : {{allInfo[4]}}</div>
				<div>Facility Code : {{allInfo[5]}}</div>
				<div>Room Code : {{allInfo[6]}}</div>
				<div>Start Time : {{allInfo[7]}}</div>
				<div>End Time : {{allInfo[8]}}</div>
				<br>
				<div>Classes on : </div>
				{% if allInfo[9]==true %}
					<text>Monday </text>
				{% endif %}
				{% if allInfo[10]==true %}
					<text>Tuesday </text>
				{% endif %}
				{% if allInfo[11]==true %}
					<text>Wednesday </text>
				{% endif %}
				{% if allInfo[12]==true %}
					<text>Thursday </text>
				{% endif %}
				{% if allInfo[13]==true %}
					<text>Friday </text>
				{% endif %}
				{% if allInfo[14]==true %}
					<text>Saturday </text>
				{% endif %}
				{% if allInfo[15]==true %}
					<text>Sunday </text>
				{% endif %}
				<br>
				<br>
				<div>Grades Statistics(count of grades) - </div>
				<div>A : {{allInfo[16]}}</div>
				<div>AB : {{allInfo[17]}}</div>
				<div>B : {{allInfo[18]}}</div>
				<div>BC : {{allInfo[19]}}</div>
				<div>C : {{allInfo[20]}}</div>
				<div>D : {{allInfo[21]}}</div>
				<div>F : {{allInfo[22]}}</div>
				<div>S : {{allInfo[23]}}</div>
				<div>U : {{allInfo[24]}}</div>
				<div>CR : {{allInfo[25]}}</div>
				<div>N : {{allInfo[26]}}</div>
				<div>P : {{allInfo[27]}}</div>
				<div>I : {{allInfo[28]}}</div>
				<div>NW : {{allInfo[29]}}</div>
				<div>NR : {{allInfo[30]}}</div>
				<div>Others : {{allInfo[31]}}</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}