{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Page{% endblock %}</h1>
  
{% endblock %}


{% block content %}
<form action="" method="POST">
	<button type="submit" name="part 1">
        Part 1
    </button>
    <button type="submit" name="part 2">
        Part 2
    </button>
    <button type="submit" name="part 3">
        Part 3
    </button>
    <button type="submit" name="part 4">
        Part 4
    </button>
    <button type="submit" name="part 5">
        Part 5
    </button>
    <button type="submit" name="part 6">
        Part 6
    </button>
</form>
{% endblock %}