{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Page - Part 2{% endblock %}</h1>
  
{% endblock %}


{% block content %}
<div>
	<form action="" method="POST">
		<label for="course_selection">
	        Course :
	    </label>
	    <input type="text" name="course_selection" 
			value="{{ request.form['course_selection'] }}" 
			placeholder="search">
		</input>
		<button type="submit" name="course go">
			Go
		</button>
	</form>

	{% for x in courses %}
		<form  action="" method="POST">
			<button type="submit" name="select a course" value="{{x[0]}}">{{x[0]}}</button>
		</form>
	{% endfor %}
</div>
{% endblock %}