{% extends 'base.html' %}

<head>
  <meta charset="utf-8">
  <title>Administrator Login Page</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

{% block header %}
<br><br>
  <nav class = "curhead">
  <h1>{% block title %}Administrator{% endblock %}</h1>
  </nav>
<br><br>
{% endblock %}


{% block content %}
<nav>
  <form method="post">
    <label class ="loglabels" for="username">Username</label>
    <input class ="logbuts" name="username" id="username" required>
    <br>
    <label class ="loglabels" for="password">Password</label>
    <input class = "logbuts" type="password" name="password" id="password" required>
    <br>
    <input class = "logbuts" type="submit" value="Log In">
  </form>
</nav>
{% endblock %}
