

<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</head>


<nav>
  
    {% if g.user %}
    <a class="box1" href="{{ url_for('adminhomepage') }}">CourseLib</a>
        <br>
      <span class = "box3" >{{ g.user[0] }}</span>
      <br>
      <br>
        <a class="box2" href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <nav>
        <p class="box1" href="{{ url_for('adminhomepage') }}">CourseLib</p>
        <br><br>
        
      <a class="ar" href="{{ url_for('adminlogin') }}">Admin Log In</a>
      <p>                                  </p>
      <a class="ar" href="{{ url_for('studentlogin') }}">Student Log In</a>
      </nav>
    {% endif %}

</nav>


<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>