{% extends 'base.html' %}

{% block header %}
<br>
<br>
<h1 class="box4">{% block title %}Search For Subject Information{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">
{% endblock %}


{% block content %}
{%if toSearch == "Yes"%}
<div>
	<form action="" method="POST">
		<br>
		<br>
		<br>
	    <input class="inpbuts" type="text" name="subject_selection" 
			value="{{ request.form['subject_selection'] }}" 
			placeholder="Search">
		</input>
		<br>
		<button class="subbut" type="submit" name="subject go">
			Search
		</button>
	</form>

	<br>
	<br>
	<br>
	<br>
	<label class="resbutton" for="subject_selection">
		Results
	</label>
	<br>
    <div class =arr>Subject Name ( Subject Code )</div>
    <br>
    <br>

	{% for x in subjects %}
		<form  action="" method="POST">
			<button class="entries" type="submit" name="select a subject" value="{{x[0]}}">{{x[0]}} ( {{x[1]}} )</button><br>
		</form>
	{% endfor %}
</div>
{%else%}
<br>
<br>
<br>
<h1 class="arr">All Courses Under the Subject {{subject}}</h1>
<br>
<br>
	{% for x in allcor%}
			<h1 class="entries" type="submit" name="select a instructor" value="{{x[0]}}">{{x[0]}}</h1><br>
	{% endfor %}
{%endif%}
{% endblock %}