{% extends 'base.html' %}

{% block header %}
<br>
<br>
<br>
  <h1 class="box4">{% block title %}Watchlist{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/internal.css') }}">
<br>

{% endblock %}


{% block content %}

    <table align="center" style="width:100%">
      <tr>
        <th align="center" style="height:100%;width:50%">Offering - Term</th>
        <th  align="center" style="height:100%;width:10%">Section Type</th>
        <th  align="center" style="height:100%;width:20%">Instructor - Section No.</th>
      </tr>
      <tr><td></td><td></td><td></td></tr>
      {% for x in watch_list %}
        <form action="" method="POST">
          <tr>
            <td style="height:100%;width:50%">
                <select name="off term" class = "info" style="height:100%;width:90%">
                    <option>{{x[1]}}</option>
                </select>
            </td>
            <td style="height:100%;width:10%">
                <select name="sec type" class = "info" style="height:100%;width:80%">
                    <option>{{x[2]}}</option>
                </select>
            </td>
            <td style="height:100%;width:20%">
                <select name="inst sec" class = "info" style="height:100%;width:90%">
                    <option>{{x[3]}}</option>
                </select>
            </td>
            <td>
                <button class="rowdrop" style="text-align: center" type="submit" name="drop go">
                    DROP
                </button>
            </td>
          </tr>

          <tr><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td></tr>
        </form>
      {% endfor %}
    </table>

{% endblock %}