.box4{
    display: block;
    padding:10px;
    border: 2px rgb(11, 75, 3) solid;
    font-weight:bold;
    font-size : 24px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
    width : 100%;
    border-radius: 0px;
    background-color: rgb(41, 55, 100);
    color :rgb(255, 255, 255);
    box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.226);
    border-color: white;
}

.inplabels{
    display: block;
    padding:10px;
    border:0;
    font-weight:bold;
    font-size : 16px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
}

.hupd{
    display: block;
    padding:10px;
    border:0;
    font-weight:bold;
    font-size : 18px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
    width : 40%;
    border-radius: 100px;
    background-color: rgb(216, 223, 245);
    border: 2px rgb(10, 25, 53) solid;
}

.resbutton{
    display: block;
    padding:8px;
    border: 2px rgb(11, 75, 3) solid;
    font-weight:bold;
    font-size : 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
    width : 100%;
    border-radius: 0px;
    background-color: rgb(41, 55, 100);
    color :rgb(255, 255, 255);
    box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.226);
    border-color: white;
}



.inpbuts{
    display: block;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 1px solid black;
    border-radius: 100px;
    font-size: 15px;
    width: 25%;
    margin:auto;
    
}

.arr {
	display: block;
	background-color: rgb(192, 201, 228);
	color: rgb(22, 42, 71);
	text-decoration: none;
	font-family: Arial, sans-serif;
    text-align : center;
	font-size: 1em;
	padding: 7px 4px;
	margin: auto;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
	border-top-width: 0px;
	border-left-width: 0px;
    width : 100%;
    border-radius: 50px;
    box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.226);
    font-weight:bold;
}


.subbut{
    display: block;
    padding:10px;
    border:0;
    font-weight:bold;
    font-size : 16px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
    width : 10%;
    border-radius: 100px;
    background-color: rgb(17, 24, 87);;
    color: rgb(216, 223, 245);
}



.returntohomepage{
    display: block;
    padding:10px;
    border:0;
    font-weight:bold;
    font-size : 16px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
    width : 20%;
    border-radius: 100px;
    background-color: rgb(17, 24, 87);;
    color: white;
    text-decoration: none;
}



.returntohomepage:hover
{
	color: black;
	border: 3px solid white;
    background: #548ecfbb;
    box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.226);
    
}

.subbut:hover
{
	color: navy;
	border: 3px solid white;
    background: #5bb3d6bb;
}


.entries{
    display: block;
    padding:10px;
    border:0;
    font-weight:bold;
    font-size : 14px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin:auto;
    text-align: center;
    width : 30%;
    border-radius: 100px;
    background-color: rgb(216, 223, 245);
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.dropdown
{
    display: block;
    padding:8px;
    font-weight:bold;
    font-size : 16px;
    font-family: Arial;
    margin:auto;
    text-align: center;
    width : 40%;
    border-radius : 10px;
    color: rgb(41, 55, 100);
    background-color :rgb(192, 201, 228);
    box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.226);
}

.grade
{
    display: block;
	background-color: rgb(192, 201, 228);
	color: rgb(22, 42, 71);
	text-decoration: none;
	font-family: Arial, sans-serif;
    text-align : center;
	font-size: 12px;
	padding: 7px 4px;
	margin: auto;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
	border-top-width: 0px;
	border-left-width: 0px;
    width : 10%;
    border-radius: 50px;
    box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.226);
    font-weight:bold;
}



.info
{
    display: block;
	background-color: rgb(192, 201, 228);
	color: rgb(22, 42, 71);
	text-decoration: none;
	font-family: Arial, sans-serif;
    text-align : center;
	font-size: 12px;
	padding: 7px 4px;
	float: left;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
	border-top-width: 0px;
	border-left-width: 0px;
    width : 30%;
    border-radius: 30px;
    box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.226);
    font-weight:bold;
    margin-left : 25px;
    margin-top:3px;
}

.resb{
    display: block;
    padding:8px;
    border: 2px rgb(11, 75, 3) solid;
    font-weight:bold;
    font-size : 16px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    float:left;
    text-align: center;
    width : 20%;
    border-radius: 50px;
    background-color: rgb(41, 55, 100);
    color :rgb(255, 255, 255);
    box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.226);
    border-color: white;
    margin-left : 300px;
}

